@import url('normalize.css');


.contenedorPrincipal{
    padding: 20px;
}
h1 {
    font-size: 26px;
    font-weight: 900;
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
    margin: 0px;
    background-color: #182c44;
    color: #7693b8;
}

h2{
    margin: 20px;
    font-size: 20px;
    font-weight: 700;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: #232847;
    border-block-end-style:solid;
}
p{
    margin: 20px;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.5;
    padding-top: 20px;
    padding-bottom: 20px;
}

.italian{
    font-style: italic;
}

.negritas{
    font-weight: bold;
}

.tachado{
    padding: auto;
}

.interlineado{
    line-height: 2.5;
}